ion-header {
  --background: #4CAF50; /* Verde oscuro */
  --color: white;
}

ion-toolbar {
  --background: #4CAF50; /* Verde oscuro */
  --color: white;
}

ion-title {
  font-weight: bold;
  text-align: center; /* Centrar el título */
}

ion-content {
  --background: #E8F5E9; /* Verde claro */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px; /* Ajustar margen superior */
  margin-bottom: auto;
}

.logo-container {
  text-align: center;
  margin-top: 70px; /* Aumentar espacio entre el formulario y el logo */
  margin-bottom: 60px; /* Añadir espacio entre el logo y el botón "Regreso al login principal" */
}

.logo-container img {
  width: 150px; /* Ajusta el tamaño del logo */
  height: auto;
}

ion-item {
  --background: transparent;
  margin-bottom: 15px;
  width: 100%;
}

ion-label {
  color: #388E3C; /* Verde medio */
}

ion-input {
  --placeholder-color: #000000; /* Negro */
  color: #388E3C; /* Verde medio */
}

ion-button {
  --background: #4CAF50; /* Verde oscuro */
  --background-hover: #388E3C; /* Verde medio */
  --background-activated: #2E7D32; /* Verde más oscuro */
  --color: white;
  margin-top: 20px;
  width: 100%;
}

ion-button[color="secondary"] {
  --background: #D32F2F; /* Rojo */
  --background-hover: #C62828; /* Rojo oscuro */
  --background-activated: #B71C1C; /* Rojo más oscuro */
  --color: white;
  margin-top: 20px; /* Igual que el botón de Login */
}

ion-label[color="danger"] {
  color: #D32F2F; /* Rojo */
}