<ion-header>
  <ion-toolbar color="botani">
    <ion-title>Ayudas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterPlants()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let plant of filteredPlants" (click)="showDetails(plant.id)">
      <ion-thumbnail slot="start">
        <img [src]="plant.image_url" alt="{{ plant.common_name }}">
      </ion-thumbnail>
      <ion-label>{{ plant.common_name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPlants($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más plantas...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
