<ion-header [translucent]="true">
  <ion-toolbar color="botani">
    <ion-title>Añadir Planta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Añadir Planta</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-container">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="planta.common_name" name="common_name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea [(ngModel)]="planta.description" name="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tipo</ion-label>
      <ion-select [(ngModel)]="planta.tipo" name="tipo">
        <ion-select-option *ngFor="let tipo of tiposDePlantas" [value]="tipo">{{ tipo }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Tips Propios</ion-label>
      <ion-textarea [(ngModel)]="planta.tips" name="tips"></ion-textarea>
    </ion-item>

    <ion-item class="photo-button-container">
      <ion-label>Foto</ion-label>
      <ion-button (click)="takePhoto()">Tomar Foto</ion-button>
    </ion-item>

    <div class="photo-preview" *ngIf="photo">
      <img [src]="photo" alt="Foto de la Planta">
    </div>

    <ion-button expand="full" (click)="onSubmit()" [disabled]="!planta.common_name">Guardar Planta</ion-button>
  </div>
</ion-content>
