// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-botani: #098624;
	--ion-color-botani-rgb: 9,134,36;
	--ion-color-botani-contrast: #ffffff;
	--ion-color-botani-contrast-rgb: 255,255,255;
	--ion-color-botani-shade: #539761;
	--ion-color-botani-tint: #22923a;
}