<ion-header [translucent]="true">
  <ion-toolbar color="botani">
    <ion-title>Alarmas Configuradas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alarmas Configuradas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let alarma of alarmas">
      <ion-label>
        <h2>{{ alarma.body }}</h2>
        <p>Días: {{ alarma.days.join(', ') }}</p>
        <p>Hora: {{ alarma.hour }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="deleteAlarma(alarma.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
